pytest~=5.4.3
Flask==1.1.4
python-dotenv~=0.13.0
Jinja2~=2.11.2

py~=1.8.1
colorama~=0.4.3
pip~=20.1.1
attrs~=19.3.0
toml~=0.10.1
Werkzeug~=0.16.0
itsdangerous~=1.1.0
click~=7.1.2
MarkupSafe~=1.1.1
wcwidth~=0.2.4
pluggy~=0.13.1
iniconfig~=1.0.1
atomicwrites~=1.4.0
pyparsing~=2.4.7
setuptools~=47.1.0