@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')



* {
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 500%;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

#book_title { font-size: 300%; }

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
}

#body{
    margin: 0;
    height: 100%;
    background-color: rgba(76,255,112,0.4);
}

#nav {
    height: inherit;
    width: 10%;
    float: left;
    background-color: rgba(0,249,33,1);
    text-align: center;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 150%;
}

#container {
    text-align: center;
}

table {
    height:100%;
    width:inherit;
    font-size: 150%;
    font-family: "Open Sans", sans-serif;
}

td { cursor: pointer; }

h4 {
    font-size: 150%;
    font-family: "Open Sans", sans-serif;
    font-style: oblique;
}

.btn-nav {
    font-size: large;
    padding: 10px;
    color: rgba(0, 142, 255, 1);
    display: block;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.btn-nav:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 255, 1);
    font-style: italic;
}

tr:hover {
    background-color: rgba(255,255,255,0.4);
}

tr:first-child:hover{
    background-color: rgba(255,255,255,0);
}

.top_nav{height:40px; padding: 10px;}

.top_nav_left, .top_nav_right { display: inline; }

.top_nav_left {float: left;}
.top_nav_right {float: right;}

.book {
    display: flex;
    Text-align: left;
    padding: 10px;
}

#other_info {
    flex: 1;
    font-size: 80%;
    font-style: italic;
}
#Description { flex: 4; }

.tnb, .tnbd {
    font-size: 20px;
    padding: 10px 24px;
}

#authors_table {
    font-size: 110%;
}